* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
    
}

body {
    display: flex;
    flex: wrap;
}

header {
    padding: 3rem;
    
}

.welcome_name {
    font-weight: 500;
    font-size: 24px;
    padding-top: 28px;
    padding-left: 60px;
}

.title_location {
    font-weight: 600;
    font-size: 80px;
    text-align: left;
    padding: 40px 70px 100px 70px;
}

.about_me {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 20px 50px 60px 20px;
}

.photo_me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 50px;
}

.about_me_paragraph {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    padding: 20px 20px 20px 20px;
}

.tech_skill_title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 150px 50px 30px 50px;
}

.tech_skills_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 5px 40px 50px 40px;
}

.icon_grid {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    
}

.icon_grid_icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    padding-left: 120px;
    padding-right: 120px;
    
   
}

figcaption {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 10px;

}