@use "variables";
@use "reset";
@use "grid";
@use "body";
@use "fonts";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.top_nav_bar {
  display: none;
}

.person_typing_artwork {
  display: none;
}

body {
  background-color: #e5e5e5;
  width: 100%;
}
